<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Simple Book Store</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/search">Search</a>
    </ul>
  </div>
  <a href="/admin/addBook" class="btn btn-outline-danger my-2 my-sm-0 lspace">Admin Page</a>
</nav>
