<% include partials/header %>

  <br>

  <div class="card text-center lspace rspace">
    <h3 class="card-header">Search for Books</h3>
    <div class="card-block">

      <form method="post" action="/findbyTitle">
        <div class="form-group row">
          <label for="title-search-input" class="col-2 col-form-label">Book Title</label>
          <div class="col-8">
            <input class="form-control" type="search" name="title">
          </div>
          <div class="col">
            <button class="btn btn-success">Find by Title</button>
          </div>
        </div>
      </form>

      <form method="post" action="/findbyAuthor">
        <div class="form-group row">
          <label for="author-search-input" class="col-2 col-form-label">Author Last Name</label>
          <div class="col-8">
            <input class="form-control" type="search" name="searchAuthor">
          </div>
          <div class="col">
            <button class="btn btn-success">Find by Author</button>
          </div>
        </div>
      </form>

      <form method="post" action="/findbyGenre">
        <div class="form-group row">
          <label for="genre-search-input" class="col-2 col-form-label">Genre</label>
          <div class="col-8">
            <input class="form-control" type="search" name="searchGenre">
          </div>
          <div class="col">
            <button class="btn btn-success">Find by Genre</button>
          </div>
        </div>
      </form>

    </div>
  </div>

  <% include partials/footer %>
