<!DOCTYPE HTML>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <header>
    <% include partials/header %>
  </header>
  <p class="text-center">Search Results forEach goes here</p>

  <footer class="footer text-center">
    <% include partials/footer %>
  </footer>

</body>

</html>
