<% include partials/head %>
  <header>
    <% include partials/header %>
  </header>
  <p class="text-center">Test Search page</p>

  <footer class="footer text-center">
    <% include partials/footer %>
  </footer>
