<% include partials/head %>
  <header>
    <% include partials/header %>
  </header>
  <br>

  <div class="card text-center lspace rspace">
    <form method="post" action="/findbyTitle" <h3 class="card-header">Search for Books</h3>

      <div class="card-block">

        <div class="form-group row">
          <label for="example-search-input" class="col-2 col-form-label">Book Title</label>
          <div class="col-8">
            <input class="form-control" type="search" name="searchTitle">
          </div>
          <div class="col">
            <button class="btn btn-success">Find by Title</button>
          </div>
        </div>

        <div class="form-group row">
          <label for="example-search-input" class="col-2 col-form-label">Author Last Name</label>
          <div class="col-8">
            <input class="form-control" type="search" name="searchAuthor">
          </div>
          <div class="col">
            <button class="btn btn-success">Find by Author</button>
          </div>
        </div>

        <div class="form-group row">
          <label for="example-search-input" class="col-2 col-form-label">Genre</label>
          <div class="col-8">
            <input class="form-control" type="search" name="searchGenre">
          </div>
          <div class="col">
            <button class="btn btn-success">Find by Genre</button>
          </div>
        </div>

      </div>


  </div>
  </form>
  </div>

  <footer class="footer text-center">
    <% include partials/footer %>
  </footer>
